*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: Inter, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.home-screen {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.phrase-input input {
  margin-bottom: 10px;
}

button {
  background-color: #ff5e5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3b3b;
}
